
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
/* } */
/* body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('images/cov.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed ;
    overflow-y: auto;
}  */
